html{
	height:100%;
}
*{
	padding: 0px;
	margin: 0px;
	outline: none;
}
a {
	//color: #3E62A6;
	color: blue;
	outline: 0;
	text-decoration: none;
}
a:hover {
	color: #C00;
}
body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	background:transparent;
	overflow: hidden;
	
}
td{
	white-space:nowrap;
}
::-webkit-scrollbar{
    width:10px;/*滚动条的宽度*/
}
::-webkit-scrollbar-track-piece{
    background-color:rgba(255,255,255,0);/*滚动条的背景颜色*/
    -webkit-border-radius:5;/*滚动条的圆角宽度*/
}

::-webkit-scrollbar-thumb:vertical{/*垂直滚动条的样式*/
    height:10px;
    background-color:#dddddd;
    -webkit-border-radius:5px;
    outline:none;
    border:none;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#bcbcbc;
}
.main{
	width:-webkit-calc(100%-2px);
	min-height:100%;
	background:#f5f5f5;
	border-radius:2px;


/*	border:1px solid #49585f;
	border-radius:5px;*/
	background-size:100%;
}
.win-title{
	cursor: pointer;
	-webkit-user-select: none;
	height:20px;
	min-height:2%;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	/* background: red; */
}
.win-title .win-title-text{
	font-family:"微软雅黑";
	position: relative;
	top: 2px;
	left: 5px;
	font-size:14px;
	color:#333333;
}
.win-title .tools{
	position: absolute;
	right: 5px;
	top: 3px;
}
.win-title .tools .win-min,.win-title .tools .win-close,.win-title .tools .win-skin,.win-title .tools .win-max{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: red;
}
.win-title .tools .win-skin{
	background: url("../imgs/icons.png") no-repeat -32px 0px;
}
.win-title .tools .win-min{
	background: url("../imgs/icons.png") no-repeat 0px 0px;
}
.win-title .tools .win-max{
	background: url("../imgs/icons.png") no-repeat -48px 0px;
}
.win-title .tools .win-close{
	background: url("../imgs/icons.png") no-repeat -16px 0px;
}

.win-title .tools .win-skin:hover{
	background: url("../imgs/icons.png") no-repeat -32px -16px;
}
.win-title .tools .win-min:hover{
	background: url("../imgs/icons.png") no-repeat 0px -16px;
}
.win-title .tools .win-max:hover {
	background:url("../imgs/icons.png") no-repeat  -48px -16px 
}
.win-title .tools .win-close:hover{
	background: url("../imgs/icons.png") no-repeat -16px -16px;
}
.skin-item{
	display:inline-block;
	position:absolute;
	z-index:100;
	bottom:2px;
	width:100%;
	height:80%; 
	background: #EEEEEE;
	border-top:1px #49585F solid;
	display: none;
}
.skin-item ul {
	height:93%; 
	text-align: center;
	padding:10px 0px;
	overflow:auto;
}
.skin-item ul img{
	//width:265px;
	width:100%;
	border:2px #FFFFFF solid;
}
.skin-item ul img:hover{
	border:2px #51A351 solid;
}
.win-content{
	display:inline-block;
	width:100%;
	min-height:98%;
}
.win-content>iframe{
	width:100%;
	height:100%;
	border:10px;
	overflow:auto;
}

#tj td{
	display:none;
}

#tj td.tj-select{
	display:inline;
}




/**main.html**/
#user-portrait{
	display:inline-block;
	width:60px;
	height:60px;
	margin:7px 3px 7px 7px;
	border:1px solid rgb(160,160,160);
	box-shadow: 0px 0px 1px 1px rgba(102, 102, 102, 0.3);
	border-radius:5px;
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align:top;
}
/*
#user-portrait:hover{
	border:1px solid rgb(70, 196, 255);
	box-shadow: 0 0 1px 1px rgba(70, 196, 255,0.6);
}
*/
.fun-btns{
	padding-top:5px;
}
.fun-btns>span{
	display: inline-block;
	text-align:center;
	width:18px;
	height:18px;
	border:1px rgba(255,255,255,0) solid;
}
.fun-btns>span a{
	display: inline-block;
	margin-top:1px;
	width:16px;
	height: 16px;
}
.fun-btns>span:hover{
	background:rgba(255,255,255,0.8);
	border:1px #CCCCCC solid;
	border-radius:3px;
}
.main-top{
	white-space: nowrap;
	-webkit-user-select: none;	
}
.main-top .user-info{
	display:inline-block;
	list-style: none;
	width:550px;
	margin-top:6px;
	overflow: hidden;
}
.main-top .user-name{
	font-size:14px;
	font-weight:bold;
}
.main-top .user-signature{
	font-size:13px;
	padding-top:3px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.main-content .tabs-title{
	text-align:center;
	//height:30px;
	-webkit-user-select: none;	
}
.main-content .tabs-title li{
	display:inline-block;
	height:30px;
	line-height:30px;
	width:33.333333333%;
	float:left;
	vertical-align:middle;
	background: rgba(255,255,255,0.3);
}
.main-content .tabs-title li:hover{
	/*background: rgba(255,255,255,0.8);*/
	background-image:-webkit-gradient(linear, 0 30%, 0 100%, from(rgba(255,255,255,0.2)), to(rgba(255,255,255,0.8)));
}
.main-content .tabs-title li.tab-select{
	background-image:-webkit-gradient(linear, 0 20%, 0 100%, from(rgba(255,255,255,0.2)), to(#ffffff));
}
.main-content .tabs-title li span{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-top:3px; 
}
.main-content .tabs-title .tab-tweet{
	background:url("../imgs/tweet.png") no-repeat center;
}
.main-content .tabs-title .tab-news{
	background:url("../imgs/news.png") no-repeat center;
}
.main-content .tabs-title .tab-contact{
	background:url("../imgs/contact.png") no-repeat center;
}
/*如果不设置100%，就不能完全涂灰覆盖*/
.main-content .tab-content{
	display: none;
	width:100%;
	//height:86.5%;
	height:100%;
	background: rgba(255,255,255,0.9);
}
.main-content .tab-content:nth-child(1){
	display: block;
}
.main-content .tab-content>*{
	width:100%;
	height:100%;
}
.main-content .tab-content .sub-tab-title{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(237,237,237,0.7)));
	height:28px;
	font-size:12px;
	color: #666666;
	text-align: center;
	-webkit-user-select: none;
}
.main-content .sub-tab-title label{
	display:inline-block;
	padding: 2px 3px;
	margin-left:4px;
	white-space: nowrap;
	font-size:9pt;
	font-family: "微软雅黑";
	/*width:33.3333333%;*/
	float:left;
}
.main-content .sub-tab-title img{
	width:25px;
	//float:right;
	float:left;
}

.main-content .refresh-btn{
	display:inline-block;
	text-align:center;
	border:0px;
	width:22px;
	height:22px;
	float:right;
	background:rgba(0,0,0,0);
	border:1px solid rgba(0,0,0,0);
	margin-right:3px;
	border-radius:2px;
}
.main-content .refresh-btn a{
	display:inline-block;
	width:20px;
	height:20px;
	margin-bottom:1px;
	background:url("../imgs/refresh.png");
	background-size: cover;
}
.main-content .refresh-btn:hover{
	border:1px solid #BCBCBC;
	background:#d2edf8;
}
.main-content .sub-tab-title label:hover{
	color:#FFFFFF;
	background-color: #66cccc;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-radius: 3px;
}
.main-content .sub-tab-title label.tc-select{
	color: #ffffff;
	background-color: #3a87ad;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-radius: 3px;
}
.main-content .cl{
	display: none;
	width:100%;
	height:100%;
}

.main-content .cl>ul{
	overflow-y:auto;
	overflow-x:auto;
}
.main-content .cl:first-child{
	display: block;
}
.main-content .cl>ul{
	overflow-y:auto;
	overflow-x:auto;
	//overflow:auto;
	font-size: 10pt;
}
.main-content .cl>ul li {
	padding:5px 3px;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
.main-content .cl>ul,.tweet-list>iframe{
	display:inline-block;
	//height:450px;
}
.main-content .cl>ul li:hover {
	background: #F5F5F5;
}
.main-content .cl>ul li .outline {
	color: #888;
	font-size: 9pt;
}
.main-content .cl>ul li p {
	overflow: hidden;
	word-break: break-all;
	line-height: 22px;
}
.tweet-list>ul li .portrait {
	float: left;
	width: 45px;
}
.tweet-list>ul li .portrait img {
	width: 40px;
	height: 40px;
	margin-top: 2px;
}
.tweet-list>ul li .tweet {
	float: left;
	width: 219px;
}

#report { border-collapse:collapse; font-size:13px;}
#report h4 { margin:0px; padding:0px;}
//#report img { float:left;}
#report ul { margin:10px 0 10px 40px; padding:0px;}
#report th { background:#7CB8E2 url(../imgs/header_bkg.png) repeat-x scroll center left; color:#fff; padding:3px 2px; text-align:left;}
#report td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:3px 2px; }
#report tr.node td { background:#fff url(../imgs/row_bkg.png) repeat-x scroll center left; cursor:pointer; }
#report img.cArrow { background:transparent url(../imgs/left_right.png) no-repeat scroll 0px 0px; width:16px; height:16px;}
#report img.bArrow { background:transparent url(../imgs/left_right.png) no-repeat scroll 0px 0px; width:16px; height:16px;}
#report img.left { background-position:-16px 0px;}
#report div.close { background:transparent url(../imgs/up_down.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
#report div.open { background-position:0px 0px;}
#report div.wireshark { background:transparent url(../imgs/wireshark.png) no-repeat scroll ; width:16px; height:16px; display:block;}
#Cap div.wireshark { background:transparent url(../imgs/wireshark.png) no-repeat scroll ; width:16px; height:16px; display:block;}
#choose-file-list div.wireshark { background:transparent url(../imgs/wireshark.png) no-repeat scroll ; width:16px; height:16px; display:block;}
//#report div.csig {width:300px;overflow:hidden;}
//#report div.bsig {width:225px;overflow:hidden;}
//#report div.shrink {width:100%;}
#report div.csig {width:100%;overflow:hidden;}
#report div.bsig {width:100%;overflow:hidden;}
#report div.shrink {width:50px;}

#summary { border-collapse:collapse; font-size:13px}
#summary th { background:#7CB8E2 url(../imgs/header_bkg.png) repeat-x scroll center left; color:#fff; padding:3px 2px; text-align:left;}
#summary th:nth-child(even) {color:#000; padding:3px 5px; }
